@model Photo
<div class="cont-det">

    <div class="inner-cont">
        <div class="cont-img">
            <img class="img-center" src="@Model.ImageEntryBase64" />
        </div>
        <div class="cont-text ">
            <div class="inner-text">
            <div class="cont-title">
                <span>@Model.Title</span>
            </div>
            <div class="cont-desc">
                <span>@Model.Description</span>
            </div>
        </div>
        </div>
    </div>
</div>